<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <base href="/"/>  
    <!-- Link font awesome-->
    <link rel="stylesheet" href="./css/all.min.css">
    <!-- Link css bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Link css external-->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!--Link js bootstrap 5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
    <script src="./js/all.min.js"></script>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar 1-->
        <div class="border-end" id="sidebar-wrapper-small" style="background-color: #0D28A6;">
            <div class="list-group p-3" style="background-color: white;border: none; width:10px;height: 10px; margin: 1rem 1rem 10px 0.75rem;"></div>
            <div class="list-group list-group-flush" style="background-color: #0D28A6;">     
                <a class="list-group-item2 list-group-item-action p-3 " href="/" style="border: none;">         
                    <i class="fa fa-home fa-solid fa-lg outline-icon "  style="background-color:#0D28A6;border: none; color: white;" aria-hidden="true"></i>
                    <div style="font-size: 10px;margin-left: -10px; color: white; margin-top: 1px;">Dashboard</div>
                </a>
                <a class="list-group-item2 list-group-item-action p-3 " href="/" style="border: none; margin-top: -20px;">         
                    <i class="fa fa-truck fa-solid fa-lg"  style="color: white;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: rgb(255, 255, 255);" aria-hidden="true"></i>
                    <div style="font-size: 10px; color: white; margin-top: 1px;">Cars</div>
                </a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Binar Car</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <form method="post" action="/searchCar" style="padding-right: 1.5rem;">
                            <div class="input-group mx-3">
                                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchCar"/>
                                <button type="submit" class="btn btn-outline-primary">Search</button>
                              </div>
                              </form>
                            <li class="nav-item dropdown d-flex">
                                <div class="icon-circle-small text-center" style="background-color: #CFD4ED; margin: auto;">
                                    F
                                  </div>
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fakhri</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Sidebar 2-->
            <div class="d-flex">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush" style="padding-left: 1%;">
                    <a class="list-group-item list-group-item-action list-group-item-light fw-bolder fs-6" href="/" style="border: none; padding: 1.5rem 1.5rem 0.5rem 1rem;">CARS</a> 
                    <a class="list-group-item list-group-item-action list-group-item-light fw-bolder fs-6" href="/" style="border: none;padding: 0.8rem 1.5rem 0.5rem 1rem;">List Cars</a>
                </div>
            </div>
            <!-- Page content-->
            <div id="page-content-wrapper" style="background-color:#E5E5E5;">
                <div class="container" style="background-color:#E5E5E5;" >
                <main class="main-page">
                    <%- body %>
                </main>   
                </div>     
            </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>