<main class="main-page">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="text-decoration: none; color: black; font-weight: bold;">Cars</a>
        </li>
        <li class="breadcrumb-item  active"><a href="/" style="text-decoration: none; color: black; ">List Car</a></li>
        <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">Add New Car</a></li>
      </ol>
    </div>
    <h3>Add New Car</h3>
    <form method="post" action="/add">
      <div style="background-color: white; padding: 10px;">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" placeholder="Input Nama Mobil Disini">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="sewa" class="col-sm-2 col-form-label">Sewa Per Hari</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="sewa" id="sewa" placeholder="Rp.0,-">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-10">
          <select class="form-select form-select-md" name="type" >
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="foto" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-10">
          <input type="text" name="img" id="img" name="img" class="form-control" placeholder="link foto">
        </div>
      </div>
    </div>
    <div style="margin-top: 14rem;">
      <a class="btn btn-outline-primary" href="/">cancel</a>
      <button type="submit" class="btn btn-primary">save</button>
    </div>
    </form>
  