<div aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" style="text-decoration: none; color: black; font-weight: bold;">Cars</a></li>
    <li class="breadcrumb-item  active"><a href="/" style="text-decoration: none; color: black; ">List Car</a></li>
    <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">Update Car Information</a></li>
  </ol>
</div>
<h3>DELETE CAR</h3>
<form method="post" action="/deletedata/<%= car.id %>">
  <div style="background-color: white; padding: 10px;">
  <input type="hidden" name="id" id="" value="<%= car.id %>">
  <input type="hidden" name="beforeType" id="" value="<%= car.type %>">
  <div class="mb-3 row">
    <h4>Apakah anda ingin menghapus data ini?</h4>
  </div>
  <div class="mb-3 row d-flex" style="margin: auto;">
    <img src="<%= car.img %> " alt="Gambar Mobil" style="width:500px; height:auto" class="col-sm-2">
  </div>
    <div class="mb-3 row">
        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" required value="<%= car.name %> " >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="payment" class="col-sm-2 col-form-label" >Sewa Per Hari</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  id="sewa" name="sewa" required value="<%= car.sewa %> " >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="size-car" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  id="sewa" name="sewa" required value="<%= car.type %> " >
        </div>
      </div>
      </div>
      </div>
      <div style="margin: 5rem 0 1rem 1rem;">
        <a class="btn btn-outline-primary" href="/">cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
</form>
</main>
