<div style="padding-top: 25px;background-color: #E5E5E5;"></div>
<div aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Cars</a></li>
      <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">List Car</a></li>
  </ol>
</div>
<div class="d-flex justify-content-between">
  <p style="font-weight: bold; font-size: large;"> List Car</p>
  <a type="button" class="btn btn-primary" href="/add">+  Add New Car</a>
</div>
<a type="button" href="/" class="btn btn-outline-primary">All</a>
<a type="button" href="/filter/Small" class="btn btn-outline-primary">Small</a>
<a type="button" href="/filter/Medium" class="btn btn-outline-primary">Medium</a>
<a type="button" href="/filter/Large" class="btn btn-outline-primary">Large</a>
<div class="row">
  <% cars.forEach(element => { %>
      <div class="col-sm-4 mt-4">
          <div class="card"style="height:400px">
              <img src="<%= element.img %>" height="200px" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title"><%= element.name %> / <%= element.type %></h5>
                <p class="card-text">Rp <%= element.sewa %> / hari</p>
                <p class="card-text">Update At : <%= element.updatedAt %></p>
                <a href="/update/<%= element.id %>" class="btn btn-primary">Edit</a>
                <a href="/delete/<%= element.id %>" class="btn btn-danger">Delete</a>
                </div>
            </div>
      </div>
  <% }) %>  
</div>
<div style="padding-top: 20px;background-color: #E5E5E5;"></div>
