    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="text-decoration: none; color: black; font-weight: bold;">Cars</a></li>
        <li class="breadcrumb-item  active"><a href="/" style="text-decoration: none; color: black; ">List Car</a></li>
        <li class="breadcrumb-item  active"><a href="#" style="text-decoration: none; color: black; ">Update Car Information</a></li>
      </ol>
    </div>
    <h3>Update Car Information</h3>
    <form method="post" action="/updatedata/<%= car.id %>">
      <div style="background-color: white; padding: 10px;">
      <input type="hidden" name="id" id="" value="<%= car.id %>">
        <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" required value="<%= car.name %> " >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="payment" class="col-sm-2 col-form-label" >Sewa Per Hari</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="sewa" name="sewa" required value="<%= car.sewa %> " >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="size-car" class="col-sm-2 col-form-label" >Ukuran</label>
            <div class="col-sm-10">
              <input type="hidden" name="beforeType" value="<%= car.sizeCar %>">
                <select class="form-select form-select-md" name="type">
                  <option selected value="Tipe Ukuran" >Tipe Ukuran</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="foto" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="img" name="img" required value="<%= car.img %> " >
            </div>
          </div>
          </div>
          <div style="margin-top: 14rem;">
            <a class="btn btn-outline-primary" href="/">cancel</a>
            <button type="submit" class="btn btn-primary">save</button>
          </div>
    </form>
  </main>
  